spring.application.name=DashboardApp

jwt.secret=CHANGE_ME_TO_32+_RANDOM_CHARS
user.app1.password=CHANGE_ME
user.app2.password=CHANGE_ME
user.app3.password=CHANGE_ME
user.app4.password=CHANGE_ME



spring.datasource.url=jdbc:postgresql://localhost:5433/dashboard
spring.datasource.username=YOUR_DB_USER
spring.datasource.password=YOUR_DB_PASS



spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true

spring.flyway.enabled=false
